# Don't use this docker-compose.yml as is in production. Modify it according to your security and deployment needs.
# Only for development and testing purposes.
services:
  api:
    build: .
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=abc
      - DB_PASSWORD=secret
      - DB_NAME=mydatabase
    depends_on:
      - db
  db:
    image: postgres:18.1-alpine3.23
    environment:
      - POSTGRES_USER=abc
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=mydatabase
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql:ro